<% unless user_signed_in?%>
    <!-- 로그인 되지않는 상태 -->
    <%= link_to '로그인','/sign_in',class:"btn btn-warning"%>
<%else%>
    <!-- 로그인 된 상태 -->
    <p>현재 로그인 된 유저 : <%=@current_user.name%></p>
    <%=link_to '로그아웃','/logout',class:"btn btn-warning"%>
<%end%>
<div>
    <% @posts.each do |post|%>
    <a href ="/board/<%= post.id %>"><%=post.title%></a><br>
    <%end%>
</div>
<%= link_to "새글쓰기", "/board/new",class:"btn btn-success"%>